$border-width: 9px;
$line-to-border: 40px;

.education {
  &__section {
    line-height: 19px;
    background-color: $primary-color;
    color: $secondary-color;
    position: relative;
    overflow: hidden;

    &:after {
      content: '';
      position: absolute;
      height: $border-width;
      width: 200%;
      background-color: $secondary-color;
      top: 10px;
      left: 0;
      bottom: 0;
      margin: auto;

      @include screen-sm-max {
        width: $border-width;
        height: 200%;
        left: -10px;
        right: 0;
        top: initial;
      }
    }
  }

  &__wrapper {
    display: flex;
    width: 100%;
    padding-left: 0;
    padding-right: 0;

    @include screen-sm-max {
      display: block;
      padding: 0 20px;
    }
  }

  &__element {
    width: 33.3%;

    @include screen-sm-max {
      width: 100%;
      display: flex;
      flex-direction: row-reverse;
    }

    &.is-inverse {
      .is-upper-row:before {
        bottom: calc(#{-$border-width} + #{-$line-to-border});

        @include screen-sm-max {
          bottom: 0;
          left: calc(#{-$border-width} + #{-$line-to-border});
        }
      }

      .education__image {
        padding-bottom: initial;
        padding-top: $line-to-border;

        @include screen-sm-max {
          padding: 0 40px 0 0;
          float: right;
        }
      }
    }
  }

  &__row {
    height: 50%;

    @include screen-sm-max {
      height: initial;
      width: 50%;
      padding: 20px 0;
      display: flex;
      align-items: center;
    }

    &.is-upper-row {
      position: relative;

      &:after {
        content: '';
        background-color: $accent-color;
        height: 15px;
        width: 15px;
        border-radius: 50%;
        position: absolute;
        bottom: -12px;
        left: 0;
        right: 0;
        margin: auto;
        z-index: 1;

        @include screen-sm-max {
          top: 0;
          left: -12px;
          right: initial;
          bottom: 0;
        }
      }

      &:before {
        content: '';
        height: $line-to-border;
        width: $border-width;
        background-color: $secondary-color;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;

        @include screen-sm-max {
          top: 0;
          height: $border-width;
          width: $line-to-border;
          left: initial;
          right: initial;
        }
      }
    }

    &.is-upper-row.is-with-text {
      display: flex;
      align-items: flex-end;
      padding-bottom: $line-to-border;

      @include screen-sm-max {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: $line-to-border;
        align-items: center;
      }
    }

    &.is-lower-row {
      @include screen-sm-max {
        justify-content: flex-end;
      }
    }

    &.is-lower-row.is-with-text {
      padding-top: $line-to-border;

      @include screen-sm-max {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-right: $line-to-border;
        display: flex;
        align-items: center;
        justify-content: flex-start;
      }
    }
  }

  &__image {
    padding-bottom: $line-to-border;
    height: 100%;
    margin: auto;
    display: block;

    @include screen-sm-max {
      padding-left: $line-to-border;
      padding-bottom: 0;
      margin: 0;
      height: auto;
      width: 100%;
      max-width: 200px;
    }
  }

  &__text {
    text-align: center;
    max-width: 250px;
    margin: 0 auto;

    @include screen-sm-max {
      text-align: left;
    }
  }
}
