.intro {
  color: $white;
  min-height: 700px;
  background: url(../images/background.png) center/cover no-repeat;
  display: flex;
  flex-direction: column;

  &__text-wrapper {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    margin: 0 auto;
  }

  &__text-positioner {
    padding-right: 17%;

    @include screen-sm-max {
      padding-right: 0;
      align-items: center;
    }
  }

  &__texts {
    max-width: 380px;
  }

  &__text {
    &.is-bigger {
      font-size: 2.3em;
      margin: 0;
      font-weight: 500;
    }

    &.is-smaller {
      font-size: 1.2em;
      margin-bottom: 5px;
      display: block;
    }
  }
}
