.services {
  $hexagon-width: 110px;
  $hexagon-border: 75px;
  $hexagon-side-border: 35px;

  &__wrapper {
    display: flex;
    justify-content: space-between;

    @include screen-md-max {
      display: block;
    }
  }

  &__texts-wrapper {
    font-size: 1.4em;
    display: flex;
    align-items: center;
    max-width: 50%;
    padding-right: 5px;

    @include screen-md-max {
      max-width: initial;
      padding-right: 0;
      margin: auto;
    }
  }

  &__image {
    max-height: 400px;
    display: block;
    margin-top: -60px;

    @include screen-md-max {
      margin: 50px auto 0;
      max-height: initial;
      width: 100%;
      height: auto;
    }
  }

  &__list {
    list-style: none;
    margin: 0;
    padding-left: 130px;

    @include screen-lg-max {
      padding-left: 50px;
    }

    @include screen-xs-max {
      padding-left: 20px;
    }
  }

  &__list-el {
    margin-bottom: 40px;

    &:before {
      display: inline-block;
      content: '-';
      width: 1em;
      margin-left: -1em;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__hexagon {
    width: $hexagon-width;
    height: $hexagon-border * 2;
    background-color: #ecf0f1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75px;
    position: relative;

    &:before,
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      top: 0;
      width: 0;
      height: 0;
      border-top: $hexagon-border solid transparent;
      border-bottom: $hexagon-border solid transparent;
      margin: auto;
    }

    &:before {
      left: -($hexagon-side-border);
      border-right: $hexagon-side-border solid #ecf0f1;
    }

    &:after {
      right: -($hexagon-side-border);
      border-left: $hexagon-side-border solid #ecf0f1;
    }

    &.is-criminal {
      background-image: url(../images/criminal-icon.png);
    }

    &.is-civil {
      background-image: url(../images/civil-icon.png);
    }

    &.is-family {
      background-image: url(../images/family-icon.png);
    }

    &.is-inheritance {
      background-image: url(../images/inheritance-icon.png);
    }

    &.is-admin {
      background-image: url(../images/admin-icon.png);
    }

    &.is-foreign {
      background-image: url(../images/foreigners-icon.png);
    }
  }

  &__trapezoid {
    text-align: center;
    height: $hexagon-border;
    width: $hexagon-width;
    position: relative;
    background-color: $primary-color;
    color: #ecf0f1;

    &:before,
    &:after {
      content: '';
      position: absolute;
      border-top: $hexagon-border solid $primary-color;
    }

    &:before {
      left: -$hexagon-side-border;
      border-left: $hexagon-side-border solid transparent;
    }

    &:after {
      right: -$hexagon-side-border;
      border-right: $hexagon-side-border solid transparent;
    }

    &.is-opposite {
      display: flex;
      align-items: flex-end;

      &:before,
      &:after {
        border-top: 0;
        border-bottom: $hexagon-border solid $primary-color;
      }
    }
  }

  &__icons {
    display: flex;
    justify-content: center;
    padding: 0 35px;
  }

  &__law-wrapper {
    margin-right: $hexagon-side-border + 15;

    &:last-child {
      margin-right: 0;
    }
  }
}
