.services {
  $hexagon-width: 110px;
  $hexagon-border: 75px;
  $hexagon-border-sharpness: 35px;

  $hexagon-width-mobile: 120px;
  $hexagon-border-mobile: 45px;
  $hexagon-side-border-mobile: 60px;
  $hexagon-border-sharpness-mobile: 30px;

  &__wrapper {
    display: flex;
    justify-content: space-between;

    @include screen-md-max {
      display: block;
    }
  }

  &__texts-wrapper {
    font-size: 1.4em;
    display: flex;
    align-items: center;
    max-width: 50%;
    padding-right: 5px;

    @include screen-md-max {
      max-width: initial;
      padding-right: 0;
      margin: auto;
    }
  }

  &__image {
    max-height: 400px;
    display: block;
    margin-top: -60px;

    @include screen-md-max {
      margin: 50px auto 0;
      max-height: initial;
      width: 100%;
      height: auto;
    }
  }

  &__list {
    list-style: none;
    margin: 0;
    padding-left: 130px;

    @include screen-lg-max {
      padding-left: 50px;
    }

    @include screen-xs-max {
      padding-left: 20px;
    }
  }

  &__list-el {
    margin-bottom: 40px;

    &:before {
      display: inline-block;
      content: '-';
      width: 1em;
      margin-left: -1em;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__hexagon {
    width: $hexagon-width;
    height: $hexagon-border * 2;
    background-color: #ecf0f1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75px;
    position: relative;

    @include screen-md-max {
      width: $hexagon-width-mobile;
      height: $hexagon-border-mobile * 2;
    }

    &:before,
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      top: 0;
      width: 0;
      height: 0;
      border-top: $hexagon-border solid transparent;
      border-bottom: $hexagon-border solid transparent;
    }

    &:before {
      left: -($hexagon-border-sharpness);
      border-right: $hexagon-border-sharpness solid #ecf0f1;

      @include screen-md-max {
        left: 0;
        top: -($hexagon-border-sharpness-mobile);
        border-top: none;
        border-bottom: $hexagon-border-sharpness-mobile solid #ecf0f1;
        border-left: $hexagon-side-border-mobile solid transparent;
        border-right: $hexagon-side-border-mobile solid transparent;
      }
    }

    &:after {
      right: -($hexagon-border-sharpness);
      border-left: $hexagon-border-sharpness solid #ecf0f1;

      @include screen-md-max {
        left: 0;
        top: inherit;
        border-bottom: none;
        border-top: $hexagon-border-sharpness-mobile solid #ecf0f1;
        border-left: $hexagon-side-border-mobile solid transparent;
        border-right: $hexagon-side-border-mobile solid transparent;
        bottom: -($hexagon-border-sharpness-mobile);
      }
    }

    &.is-criminal {
      background-image: url(../images/criminal-icon.png);
    }

    &.is-civil {
      background-image: url(../images/civil-icon.png);
    }

    &.is-family {
      background-image: url(../images/family-icon.png);
    }

    &.is-inheritance {
      background-image: url(../images/inheritance-icon.png);
    }

    &.is-admin {
      background-image: url(../images/admin-icon.png);
    }

    &.is-foreign {
      background-image: url(../images/foreigners-icon.png);
    }
  }

  &__trapezoid {
    text-align: center;
    height: $hexagon-border;
    width: $hexagon-width;
    position: relative;
    background-color: $primary-color;
    color: #ecf0f1;

    @include screen-md-max {
      height: $hexagon-border-mobile * 2;
      width: $hexagon-width-mobile + 20;
      display: flex;
      align-items: center;
      padding: 0 10px;
    }

    @include screen-xs-max {
      width: $hexagon-width-mobile;
    }

    &:before,
    &:after {
      content: '';
      position: absolute;
      border-top: $hexagon-border solid $primary-color;

      @include screen-md-max {
        content: none;
      }
    }

    &:before {
      left: -$hexagon-border-sharpness;
      border-left: $hexagon-border-sharpness solid transparent;
    }

    &:after {
      right: -$hexagon-border-sharpness;
      border-right: $hexagon-border-sharpness solid transparent;
    }

    &.is-opposite {
      display: flex;
      align-items: flex-end;

      @include screen-md-max {
        align-items: center;
      }

      &:before,
      &:after {
        border-top: 0;
        border-bottom: $hexagon-border solid $primary-color;
      }
    }
  }

  &__icons {
    display: flex;
    justify-content: center;
    padding: 0 35px;

    @include screen-md-max {
      flex-direction: column;
      align-items: center;
      padding: $hexagon-border-sharpness-mobile 0 0;
    }
  }

  &__law-wrapper {
    margin-right: $hexagon-border-sharpness + 15;

    @include screen-lg-max {
      margin-right: $hexagon-border-sharpness;
    }

    @include screen-md-max {
      margin-right: 0;
      margin-bottom: 43px;
      display: flex;
      flex-direction: row-reverse;
    }

    &:last-child {
      margin-right: 0;
    }

    &:nth-child(odd) {
      @include screen-md-max {
        margin-left: $hexagon-width-mobile / 2 + 20;
      }

      @include screen-xs-max {
        margin-left: $hexagon-width-mobile / 2;
      }
    }

    &:nth-child(even) {
      @include screen-md-max {
        margin-left: -($hexagon-width-mobile / 2 + 20);
      }

      @include screen-xs-max {
        margin-left: -($hexagon-width-mobile / 2);
      }
    }
  }
}
