<section id="contact" class="main-section is-dark">
  <div class="container">
    <h4 class="main-section__header font-bold">
      Kontakt
    </h4>
    <div class="contact__wrapper">
      <a class="contact__map-wrapper" href="https://www.google.com/maps/place/Rafa%C5%82+Tuszewski+Adwokat/@52.4143626,16.9199453,15z/data=!4m5!3m4!1s0x0:0x7713b172791df9b7!8m2!3d52.4143626!4d16.9199453">
        <img src="../images/map.png" alt="Mapa dojazdu" class="contact__map">
      </a>
      <article class="contact__info font-bold" itemtype="http://schema.org/PostalAddress">
        <p itemprop="address">
          KANCELARIA ADWOKACKA RAFAŁ TUSZEWSKI <br/>
          UL. FELIKSA NOWOWIEJSKIEGO 57 LOK. 2 <br/>
          61-734 POZNAŃ <br/>
          NIP: 7791212876
        </p>
        <p>
          TEL.: <a href="tel:+48509968834" itemprop="telephone" class="accent">+48 509 968 834</a> <br/>
          EMAIL: <a href="mailto:ramatu@poczta.onet.pl" itemprop="email" class="accent">ramatu@poczta.onet.pl</a>
        </p>
        <p>
          Kontakt możliwy w językach: <br>
          Polskim, English, Hrvatski, Bosanski, <br/>
          Srpski, Crnogorski oraz Pусский
        </p>
      </article>
    </div>
  </div>
</section>
