<section class="main-section education__section">
  <div class="container education__wrapper">
    <article class="education__element">
      <div class="education__row is-upper-row">
        <img class="education__image" src="../images/liceum.png" alt="2 Liceum Ogólnokształcące w Poznaniu">
      </div>
      <div class="education__row is-lower-row is-with-text">
        <p class="education__text">
          Absolwent „Dwójki” II Liceum Ogólnokształcące w Poznaniu - naprawdę fajna szkoła
        </p>
      </div>
    </article>
    <article class="education__element is-inverse">
      <div class="education__row is-upper-row is-with-text">
        <p class="education__text">
          Absolwent wydziału Prawa i Administacji na Uniwersytecie Adama Mickiewicza w Poznaniu
        </p>
      </div>
      <div class="education__row is-lower-row">
        <img class="education__image" src="../images/UAM-logo.png" alt="Uniwersytet Adama Mickiewicza w Poznaniu">
      </div>
    </article>
    <article class="education__element">
      <div class="education__row is-upper-row">
        <img class="education__image" src="../images/WIA-logo.png" alt="Wielkopolska Izba Adwokacka">
      </div>
      <div class="education__row is-lower-row is-with-text">
        <p class="education__text">
          Od 2003 roku adwokat w Wielkopolskiej Izbie Adwokackiej w Poznaniu
        </p>
      </div>
    </article>
  </div>
</section>
