<header>
  <div class="navbar container">
    <img itemprop="logo" class="navbar__logo" src="../images/logo.png" alt="Kancelaria Adwokacka Rafał Tuszewski">
    <div class="spacer"></div>
    <ul class="navbar__links-wrapper">
      <a href="#about" class="navbar__link">O mnie</a>
      <a href="#services" class="navbar__link">Usługi</a>
      <a href="https://www.facebook.com/Kancelaria-Adwokacka-Rafa%C5%82-Tuszewski-102527064950872" class="navbar__link">Blog</a>
      <a href="#links" class="navbar__link">Linki</a>
      <a href="#contact" class="navbar__link">Kontakt</a>
    </ul>
    <button type="button" class="hamburger" hamburger-open aria-label="Otwórz menu"></button>
  </div>
</header>
