<header>
  <div class="navbar container">
    <img class="navbar__logo" src="../images/logo.png" alt="Kancelaria Adwokacka Rafał Tuszewski">
    <div class="spacer"></div>
    <ul class="navbar__links-wrapper">
      <li class="navbar__link">O mnie</li>
      <li class="navbar__link">Usługi</li>
      <li class="navbar__link">Blog</li>
      <li class="navbar__link">Linki</li>
      <li class="navbar__link">Kontakt</li>
    </ul>
    <button type="button" class="hamburger" hamburger-open aria-label="Open menu"></button>
  </div>
</header>
