<section class="intro">
  ${require('./header.html')}
  <div class="intro__text-wrapper container">
    <div class="intro__text-positioner">
      <div class="intro__texts">
        <span class="intro__text is-smaller">Parafrazując Johna F. Kennedy'ego</span>
        <h1 class="intro__text is-bigger">
          Nie pytam, co inni mogą zrobić dla mnie, ale pytam,
          <span class="accent font-bold">co ja mogę zrobić dla innych</span>
        </h1>
      </div>
    </div>
  </div>
</section>
