<section id="links" class="main-section">
  <div class="container">
    <h4 class="main-section__header font-bold">
      Linki
    </h4>
    <div class="links__wrapper">
      <div class="links__half">
        <a target="_blank" href="https://poznan.sa.gov.pl/" class="links__el is-appeal">
          <p class="links__text font-bold">
            Sąd apelacyjny w Poznaniu
          </p>
        </a>
        <a target="_blank" href="https://www.poznan.so.gov.pl/" class="links__el is-district">
          <p class="links__text font-bold">
            Sąd okręgowy w Poznaniu
          </p>
        </a>
        <a target="_blank" href="https://poznan-staremiasto.sr.gov.pl/" class="links__el is-district-old">
          <p class="links__text font-bold">
            Sąd rejonowy Poznań Stare Miasto
          </p>
        </a>
        <a target="_blank" href="https://www.poznan.pl//" class="links__el is-town">
          <p class="links__text font-bold">
            Urząd Miasta Poznania
          </p>
        </a>
        <div class="links__el is-empty-dark no-hover"></div>
        <a target="_blank" href="https://www.poznan.uw.gov.pl/" class="links__el is-province">
          <p class="links__text font-bold">
            Wielkopolski Urząd Wojewódzki
          </p>
        </a>
      </div>
      <div class="links__half">
        <a target="_blank" href="https://www.poznan-grunwald.sr.gov.pl/" class="links__el is-district-grunwald">
          <p class="links__text font-bold">
            Sąd rejonowy Poznań Grunwald i Jeżyce
          </p>
        </a>
        <div class="links__el is-empty-red no-hover"></div>
        <a target="_blank" href="https://poznan-nowemiasto.sr.gov.pl/" class="links__el is-district-new">
          <p class="links__text font-bold">
            Sąd rejonowy Poznań Nowe Miasto i Wilda
          </p>
        </a>
        <a target="_blank" href="https://www.gov.pl/web/sprawiedliwosc" class="links__el is-ministry">
          <p class="links__text font-bold">
            Ministerstwo Sprawiedliwości
          </p>
        </a>
        <a target="_blank" href="https://www.pah.org.pl/" class="links__el is-humanitarian">
          <p class="links__text font-bold">
            Polska Akcja Humanitarna
          </p>
        </a>
        <a target="_blank" href="https://www.jfklibrary.org/" class="links__el is-kennedy">
          <p class="links__text font-bold">
            John F. Kennedy Presidential Library and Museum
          </p>
        </a>
      </div>
    </div>
  </div>
</section>
