<section id="services" class="main-section">
  <div class="container">
    <h4 class="main-section__header font-bold">
      Usługi
    </h4>
    <div class="services__wrapper">
      <div class="services__texts-wrapper">
        <ul class="services__list">
          <li class="services__list-el font-bold">
            <span class="accent">Porady</span> prawne i <span class="accent">pisma</span>
          </li>
          <li class="services__list-el font-bold">
            Przygotowanie i analiza <span class="accent">umów</span>
          </li>
          <li class="services__list-el font-bold">
            <span class="accent">Reprezentowanie</span> stron przed Organami ścigania, Sądami, Urzędami w trakcie mediacji
          </li>
          <li class="services__list-el font-bold">
            Możliwość stałej <span class="accent">obsługi prawnej</span>
          </li>
        </ul>
      </div>
      <img itemprop="photo" src="../images/services-square.png" alt="Portret" class="services__image">
    </div>
  </div>
</section>
