<section class="main-section is-dark">
  <div class="container">
    <div class="services__icons">
      <div class="services__law-wrapper">
        <div class="services__trapezoid font-bold">
          Prawo karne i Prawo wykroczeń
        </div>
        <div class="services__hexagon is-criminal"></div>
      </div>
      <div class="services__law-wrapper">
        <div class="services__hexagon is-civil"></div>
        <div class="services__trapezoid font-bold is-opposite">
          Prawo cywilne
        </div>
      </div>
    </div>
  </div>
</section>
