<section class="main-section is-dark">
  <div class="container">
    <div class="services__icons">
      <div class="services__law-wrapper">
        <div class="services__trapezoid font-bold">
          Prawo karne i wykroczeń
        </div>
        <div class="services__hexagon is-criminal"></div>
      </div>

      <div class="services__law-wrapper">
        <div class="services__hexagon is-civil"></div>
        <div class="services__trapezoid font-bold is-opposite">
          Prawo cywilne
        </div>
      </div>

      <div class="services__law-wrapper">
        <div class="services__trapezoid font-bold">
          Prawo rodzinne i opiekuńcze
        </div>
        <div class="services__hexagon is-family"></div>
      </div>

      <div class="services__law-wrapper">
        <div class="services__hexagon is-inheritance"></div>
        <div class="services__trapezoid font-bold is-opposite">
          Prawo spadkowe
        </div>
      </div>

      <div class="services__law-wrapper">
        <div class="services__trapezoid font-bold">
          Prawo administracyjne
        </div>
        <div class="services__hexagon is-admin"></div>
      </div>

      <div class="services__law-wrapper">
        <div class="services__hexagon is-foreign"></div>
        <div class="services__trapezoid font-bold is-opposite">
          Przepisy dotyczące cudzoziemców
        </div>
      </div>
    </div>
  </div>
</section>
